
NEXT_PUBLIC_APP_MODE=development
NEXT_PUBLIC_APP_MODE=production

NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_MAP_API_KEY=""
NEXT_PUBLIC_FB_ID=""
# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
# NextAuth
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
